<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mydata.dao.UserMapper">
        <resultMap id="UserResult" type="com.example.mydata.dto.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="phoneNumber" property="phoneNumber"/>  <!-- 이전에는 email이었던 부분을 number로 수정 -->
        </resultMap>
    <select id="loginUser" parameterType="HashMap" resultType="com.example.mydata.dto.User">
        SELECT *
        FROM Users
        WHERE id = #{id}
          AND password = #{password}
    </select>


    <select id="findAll" resultMap="UserResult">
        SELECT *
        FROM Users
    </select>
    <select id="findByUsername" resultMap="UserResult" parameterType="String">
        SELECT *
        FROM Users
        WHERE username = #{username}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Users (id, username, password, phonenumber) VALUES (#{id}, #{username}, #{password},
        #{phonenumber})  <!-- 이전에는 email이었던 부분을 number로 수정 -->
    </insert>
</mapper>